@model DesingPattern.Facade.DAL.Product
@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


<div class="container">
    <br />
    <form method="post">
        <label>Ürün Adı</label>
        <input type="text" class="form-control" asp-for="ProductName" />
        <br />
        <label>Ürün Stok</label>
        <input type="text" class="form-control" asp-for="Stock" />
        <br />
        <label>Ürün Fiyatı</label>
        <input type="text" class="form-control" asp-for="ProductPrice" />
        <br />
        <label>Ürün Kategorisi</label>
        <input type="text" class="form-control" asp-for="ProductCategory" />
        <br />

        <button class="btn btn-outline-info">Ekle</button>
    </form>
</div>
