@model DesingPattern.CQRS.CQRSPattern.Commands.CreateProductCommand
@{
    Layout = null;
}

<a href="~/lib/bootstrap/dist/css/bootstrap.css.map"></a>
<a href="~/lib/bootstrap/dist/css/bootstrap.min.css.map"></a>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <br/>  
    <form method="post">
        <label>Ürün Adı</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <label>Ürün Stok Sayısı</label>
        <input type="text" class="form-control" asp-for="stock" />
        <br />
        <label>Ürün Fiyatı</label>
        <input type="text" class="form-control" asp-for="Price" />
        <br />
        <label>Ürün açıklaması</label>
        <input type="text" class="form-control" asp-for="Description" />
        <br />
        <button class="btn btn-outline-secondary">Ekle</button>
    </form>

</div>
