@model List<DesingPattern.CQRS.CQRSPattern.Results.GetProductQueryResult>
@{
    Layout = null;
}
<a href="~/lib/bootstrap/dist/css/bootstrap.css.map"></a>
<a href="~/lib/bootstrap/dist/css/bootstrap.min.css.map"></a>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.ProductName</td>
                <td>@item.Price ₺</td>
                <td>@item.Stock</td>
                <td><a href="/Default/DeleteProduct/@item.ID" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Default/UpdateProduct/@item.ID" class="btn btn-outline-warning">Güncelle</a></td>
                <td><a href="/Default/GetProduct/@item.ID" class="btn btn-outline-dark">Detaylar</a></td>
               
            </tr>

        }
    </table>
    <a href="/Default/AddProduct/" class="btn btn-outline-success">Ekle</a>
</div>